# 3rd party packages installed by node.js
node_modules/

# Error logs and random OS files
*.log
.DS_Store

# MacOS System files
._*
.DS_Store

# This is for the distributable only so get main stuff out

# Source code and raw data
src
plugins
WebData

# config files
.babelrc
.eslintrc.json
webpack.*
package*

# Other files
LICENSE.md
README.md
gource*
*.sh
*.wav
*.gif
*.svg
